In [1]:
import pandas as pd
from ifrs17_template.template import *

In [2]:
df

,DataNode,AocType,Novelty,AmountType,AccidentYear,EstimateType,EconomicBasis,Value,Year,Month,...,FunctionalCurrency,LineOfBusiness,ValuationApproach,OciType,AnnualCohort,LiabilityType,Profitability,Portfolio,YieldCurveName,Partner
0,DT3.1,BOP,I,None,0.0,C,None,72.200000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT3,,
1,DT3.1,BOP,I,PR,0.0,AA,None,-1.500000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT3,,
2,DT3.1,BOP,I,PR,0.0,OA,None,1.500000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT3,,
3,DT1.1,AM,C,NIC,NaN,BE,L,0.000000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT1,,
4,DT1.1,AM,C,PR,NaN,BE,L,0.000000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT1,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,DT5.1,AM,C,None,0.0,C,None,-82.022711,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1045,DT5.1,EOP,C,None,0.0,DA,None,-5.156552,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1046,DT5.1,EOP,C,None,0.0,C,None,42.968114,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1047,DT5.1,BOP,N,None,0.0,C,None,139.908492,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1048,DT5.1,IA,N,None,0.0,C,None,0.082333,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,

In [3]:
df_2103 = df.loc[(df['Year'] == 2021) & (df['Month'] == 3)]

In [4]:
df_BE = df_2103.loc[df['EstimateType'] == 'BE'][['AocType', 'Novelty', 'AmountType', 'EconomicBasis', 'Value', 'LiabilityType']]
PVs = df_BE.set_index(['Novelty', 'AocType', 'EconomicBasis', 'LiabilityType'])['Value'].groupby(level=list(range(4))).sum().unstack(level=[-1, -2])
PVs

LiabilityType           LIC         LRC
EconomicBasis             L           L
Novelty AocType
C       AM         0.000000    0.000000
        CF         0.000000    0.000000
        CL         0.000000   74.994992
        EA         0.000000    0.000000
        EOP      269.775343 -383.924048
I       BOP      299.675550 -499.791899
        CF       -60.083941  249.832118
        CRU        0.000000    0.000000
        IA         0.109789   -0.366044
        MC       -59.935110 -499.492514
        RCU        0.000000    0.000000
        YCU        0.000000    0.000000
N       BOP       59.935110   59.895192
        CF       -15.267421  -15.534843
        EV        44.962557  245.798806
        IA         0.027447    0.037419

In [5]:
df_RA = df_2103.loc[df['EstimateType'] == 'RA'][['AocType', 'Novelty', 'AmountType', 'EconomicBasis', 'Value', 'LiabilityType']]
RA = df_RA.set_index(['Novelty', 'AocType', 'EconomicBasis', 'LiabilityType'])['Value'].groupby(level=list(range(4))).sum().unstack(level=[-1, -2])
RA

Empty DataFrame
Columns: []
Index: []

In [6]:
df_WA = df_2103.loc[df['EstimateType'] == 'A'][['AocType', 'Novelty', 'AmountType', 'Value', 'LiabilityType']]
WA = df_WA.set_index(['AocType', 'AmountType' , 'LiabilityType'])['Value'].groupby(level=list(range(3))).sum().unstack(level=[-1])
WA

LiabilityType        LIC    LRC
AocType AmountType
CF      ACA          NaN  -70.0
        AEA          NaN  -35.0
        ICO          NaN  -42.0
        NIC        -82.0 -350.0
        PR           NaN  450.0

In [7]:
df_AAOA = df_2103.loc[(df['EstimateType'] == 'AA') | (df['EstimateType'] == 'OA')][['AocType', 'Novelty', 'AmountType', 'Value', 'EstimateType']]
AAOA = df_AAOA.set_index(['AocType', 'AmountType', 'EstimateType'])['Value'].groupby(level=list(range(3))).sum().unstack(level=[-1])
AAOA

EstimateType         AA    OA
AocType AmountType
CF      NIC        -4.0  -8.0
        PR          6.5   5.5
WO      NIC         5.0  12.5
        PR          3.5  17.0

In [8]:
df_DA = df_2103.loc[df['EstimateType'] == 'DA'][['AocType', 'Novelty', 'AmountType', 'Value', 'EstimateType']]
DA = df_DA.set_index(['AocType', 'AmountType', 'EstimateType'])['Value'].groupby(level=list(range(3))).sum().unstack(level=[-1])
DA

Empty DataFrame
Columns: []
Index: []

In [9]:
df_2103.loc[df['EstimateType'] == 'DA']

Empty DataFrame
Columns: [DataNode, AocType, Novelty, AmountType, AccidentYear, EstimateType, EconomicBasis, Value, Year, Month, DisplayName, ContractualCurrency, FunctionalCurrency, LineOfBusiness, ValuationApproach, OciType, AnnualCohort, LiabilityType, Profitability, Portfolio, YieldCurveName, Partner]
Index: []

[0 rows x 22 columns]