In [1]:
import pandas as pd
from ifrs17_template.template import *

In [2]:
df

,DataNode,AocType,Novelty,AmountType,AccidentYear,EstimateType,EconomicBasis,Value,Year,Month,...,FunctionalCurrency,LineOfBusiness,ValuationApproach,OciType,AnnualCohort,LiabilityType,Profitability,Portfolio,YieldCurveName,Partner
0,DT3.1,BOP,I,None,0.0,C,None,72.200000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT3,,
1,DT3.1,BOP,I,PR,0.0,AA,None,-1.500000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT3,,
2,DT3.1,BOP,I,PR,0.0,OA,None,1.500000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT3,,
3,DT1.1,AM,C,None,NaN,F,L,1.000000,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT1,,
4,DT1.1,AM,C,None,NaN,L,None,-180.009175,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT1,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,DT5.1,AM,C,None,0.0,C,None,-82.022711,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1629,DT5.1,EOP,C,None,0.0,DA,None,-5.156552,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1630,DT5.1,EOP,C,None,0.0,C,None,42.968114,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1631,DT5.1,BOP,N,None,0.0,C,None,139.908492,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,
1632,DT5.1,IA,N,None,0.0,C,None,0.082333,2020,12,...,CHF,ANN,BBA,Default,2020,LRC,P,DT5,,

In [3]:
df_2103 = df.loc[(df['Year'] == 2021) & (df['Month'] == 3)]

In [4]:
df_BE = df_2103.loc[df['EstimateType'] == 'BE'][['AocType', 'Novelty', 'AmountType', 'EconomicBasis', 'Value', 'LiabilityType']]
PVs = df_BE.set_index(['Novelty', 'AocType', 'EconomicBasis', 'LiabilityType'])['Value'].groupby(level=list(range(4))).sum().unstack(level=[-1, -2])
PVs

LiabilityType           LRC                     LIC
EconomicBasis             C           L           C           L
Novelty AocType
C       CL        74.987448   74.994992         NaN         NaN
        EOP     -379.954884 -380.062226  271.367348  271.706254
I       BOP     -499.330813 -499.330813  299.906093  299.906093
        CF       249.832118  249.832118  -60.083941  -60.083941
        CRU        2.369316    2.373251    1.184658    1.186626
        IA        -0.366044   -0.366044    0.109789    0.109789
        MC      -499.584732 -499.584732  -59.981219  -59.981219
        YCU        0.522270         NaN   -0.223970         NaN
N       BOP       60.913655   61.072687   60.425664   60.523857
        CF       -15.534843  -15.534843  -15.267421  -15.267421
        EV       246.140729  246.442443   45.227891   45.284376
        IA         0.093247    0.037419    0.068421    0.027447

In [5]:
df_RA = df_2103.loc[df['EstimateType'] == 'RA'][['AocType', 'Novelty', 'AmountType', 'EconomicBasis', 'Value', 'LiabilityType']]
RA = df_RA.set_index(['Novelty', 'AocType', 'LiabilityType', 'EconomicBasis'])['Value'].groupby(level=list(range(4))).sum().unstack(level=[-1, -2])
RA

EconomicBasis             C           L          C          L
LiabilityType           LRC         LRC        LIC        LIC
Novelty AocType
C       CL       -22.453303  -22.481279        NaN        NaN
        EOP       89.813213   89.925114  22.453303  22.481279
I       BOP      149.837775  149.837775  29.967555  29.967555
        CF       -30.000000  -30.000000  -6.000000  -6.000000
        IA         0.054895    0.054895   0.010979   0.010979
        MC       -29.967555  -29.967555  -5.993511  -5.993511
        YCU       -0.111901         NaN  -0.022380        NaN
N       BOP       59.838185   59.935110  11.967637  11.987022
        CF       -15.000000  -15.000000  -3.000000  -3.000000
        EV       -22.453303  -22.481279  -4.490661  -4.496256
        IA         0.068421    0.027447   0.013684   0.005489

In [6]:
df_WA = df_2103.loc[df['EstimateType'] == 'A'][['AocType', 'Novelty', 'AmountType', 'Value', 'LiabilityType']]
WA = df_WA.set_index(['AocType', 'AmountType' , 'LiabilityType'])['Value'].groupby(level=list(range(3))).sum().unstack(level=[-1])
WA

LiabilityType        LIC    LRC
AocType AmountType
CF      ACA          NaN  -70.0
        AEA          NaN  -35.0
        ICO          NaN  -42.0
        NIC        -82.0 -350.0
        PR           NaN  450.0

In [7]:
df_AAOA = df_2103.loc[(df['EstimateType'] == 'AA') | (df['EstimateType'] == 'OA')][['AocType', 'Novelty', 'AmountType', 'Value', 'EstimateType']]
AAOA = df_AAOA.set_index(['AocType', 'AmountType', 'EstimateType'])['Value'].groupby(level=list(range(3))).sum().unstack(level=[-1])
AAOA

EstimateType         AA    OA
AocType AmountType
CF      NIC        -4.0  -8.0
        PR          6.5   5.5
WO      NIC         5.0  12.5
        PR          3.5  17.0

In [8]:
df_DA = df_2103.loc[df['EstimateType'] == 'DA'][['AocType', 'Novelty', 'AmountType', 'Value', 'EstimateType']]
DA = df_DA.set_index(['AocType', 'AmountType', 'EstimateType'])['Value'].groupby(level=list(range(3))).sum().unstack(level=[-1])
DA

Empty DataFrame
Columns: []
Index: []

In [9]:
df_2103.loc[df['EstimateType'] == 'DA']

Empty DataFrame
Columns: [DataNode, AocType, Novelty, AmountType, AccidentYear, EstimateType, EconomicBasis, Value, Year, Month, DisplayName, ContractualCurrency, FunctionalCurrency, LineOfBusiness, ValuationApproach, OciType, AnnualCohort, LiabilityType, Profitability, Portfolio, YieldCurveName, Partner]
Index: []

[0 rows x 22 columns]